{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/edit_profile.css' %}">
</head>

<body>
    <header class="site-header">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <h1>GU</h1>
            <h6>Paris</h6>
        </div>
    </header>

    <div class="back">
        <button onclick="window.location.href='{% url 'home' %}'">
            <span>Back</span>
        </button>
    </div>

    <div class="container">
        <h2>Edit Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}

            <button type="submit" class ="save">Save</button>
        </form>
    </div>

    <footer class="site-footer">
        <div class="container">
            <p>© GU, 2023</p>
            <p>The first fashion house in Russia</p>
        </div>
    </footer>
</body>
</html>

