{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>GU.com</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <h1>GU</h1>
        <h6>Paris</h6>
      </div>
    </header>
    <!-- <div class ='cart'>
        <button class="btn btn-outline-primary float-end" onclick="window.location.href='http://127.0.0.1:8000/cart/'">
            <span>
                Корзина
            </span>
        </button>
    </div> -->

<div class ='about'>
        <button onclick="window.location.href='http://127.0.0.1:8000/about/'">
            <span>
                Про нас
            </span>
        </button>
</div>

<section class="photos">
  <div>
    <img src="static/main/img/number1.jpg">
      <button  onclick="window.location.href='http://127.0.0.1:8000/lovers/'">
        <span>
          Подробнее
        </span>
      </button>
  </div>
  <div>
    <img src="static/main/img/number2.jpg">
      <button onclick="window.location.href='http://127.0.0.1:8000/bones/'" >
        <span>
          Подробнее
        </span>
      </button>
  </div>
  <div>
    <img src="static/main/img/number3.jpg">
      <button onclick="window.location.href='http://127.0.0.1:8000/devil/'" >
        <span>
          Подробнее
        </span>
      </button>
  </div>
</section>


    <section class="description">
      <h4>С момента основания GU в 2022 году, белый цвет появился во множестве оттенков и комбинаций.</h4>
      <h4>Вскоре его дизайн-код начал фигурировать в таких городах, как Paris, Milano, NY.</h4>
      <h4>Его наглость в цветах и в дизайне оценили такие дома, как Versace, Christian Dior, Chanel.</h4>
      <h4>Givenchy Hubert пишет: "Дерзость и мужество GU заставили меня посмотреть на мир другими красками"</h4>
      <ul class="working">
        <li>
          <img src="static/main/img/working1.jpg">
          <img src="static/main/img/working2.jpg">
         </li>
         <li>
          <img src="static/main/img/working3.jpg">
           <img src="static/main/img/working4.png">
        </li>
      </ul>
    </section>

     <h4>На этих эксклюзивных фотографиях сам Вадим Козин пишет свои правила для модных домов по всему миру.</h4>
      <h4>Его чуткость и знания своего дела, дают многим начинающим дизайнерам толчок в настоящее.</h4>
      <h4>Невероятная техника и проработка всех его дизайнов поражает своей чувствительностью.</h4>
      <h4>Вадим Козин пишет: "Мой единственный недостаток в том,</h4>
      <h4>что я не могу завязать с поставками оружия в Иран".</h4>

    <footer class="site-footer">
      <div class="container">
        <p>© GU, 2023</p>
        <p>Первый модный дом России</p>
      </div>
    </footer>
  </body>
</html>


