h1, h4, h6 {
  text-align: center;
}

section.description {
  margin-top: 70px;
}

.photos {
  font-size: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   padding: 0 0 0 120px;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
}

.photos div {
  position: relative;
  margin-bottom: 20px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.photos img {
  display: block;
  width: 75%;
  border-radius: 5%;
  margin-bottom: 10px;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: absolute;
  bottom: 0;
  left: 37%;
  transform: translateX(-50%);
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #66ff66;  /* цвет кнопки после нажатие #7fc7ed*/
  color: ghostwhite;
}

button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

button:hover span {
  color: black;
}

button::before,
button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

button::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
  transform: translate3d(100%, 0, 0);
}

.working li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.working img {
  width: 32.5%;
  border-radius: 5%;
  margin: 0 2.5%;
}

.site-footer {
  position: absolute;
  bottom: 120;
  text-align: center;
  width: 100%;
}

.about {
  position: absolute;
  top: 95px;
  left: 100px;
}
body {
  background-color: #7fc7ed;
}

button#scrollButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
  left: 1850px;
  z-index: 50;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s, color 0.3s;
}

button#scrollButton:hover,
button#scrollButton:focus {
  background-color: #66ff66;
  color: white;
}

button#scrollButton .arrow-up {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(-45deg);
  margin: 19px auto;
  transition: opacity 0.3s;
  opacity: 1;
}

button#scrollButton.up .arrow-up {
  opacity: 1;
}


.home-btn {
    margin-left: 130px;
}
.service-btn {
    margin-left: 265px;
}
.contact-btn {
    margin-left: 420px;
}
.cart-btn {
    margin-left: 1700px;
}
.register-btn {
    margin-left: 1500px;
}
.login-btn {
    margin-left: 1300px;
}
.out-btn {
    margin-left: 1550px;
}
.profile-btn {
    margin-left: 1400px;
}
.chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: 450px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  z-index: 9999;
  user-select: none;
}

.chat-header {
  background-color: #ccc;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  user-select: none;
  position: relative;
}

.chat-header h3 {
  margin: 0;
}

.chat-body {
  padding: 10px;
  height: 300px;
  overflow-y: auto;
}

.chat-footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-footer input[type="text"] {
  flex: 1;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.chat-footer button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.message-button {
  position: fixed;
  bottom: 20px;
  left: 1850px;
  z-index: 999;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 70px;
  height: 70px;
  outline: none;
  cursor: pointer;
}

.message-button:focus,
.message-button:hover {
  background-color: transparent;
  box-shadow: none;
}

.message-button .fas {
  color: #000;
  font-size: 40px;
  transition: none;
}
.message-button::before {
  content: none !important;
}



.btn-close {
  position: absolute;
  top: 5px;
  left: 380px;
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 1.5rem;
  line-height: 1;
  opacity: 0.5;
}



.btn-close::before {
  display: none;
}

.btn-close:focus {
  outline: none;
}

.form-group input[type="text"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.form-group input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #7fc7ed;
}
.form-group{
    margin-top: 30px;
    width: 100%;
}

.button-group {
  position: absolute;
  top: 340px;
  left: 280px;
  margin: 0;
  border: none;
  padding: 0;
}

.button-group::before {
  display: none;
}

.btn.btn-link.attachment-button {
  position: absolute;
  top: 380px;
  left: 360px;
  margin: 0;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  line-height: 1;
  opacity: 1;
  color: #959595;
  background-color: transparent;
  transition: none;
}

.btn.btn-link.attachment-button:hover {
  opacity: 1;
}

.btn.btn-link.attachment-button::before {
  display: none;
}

.chat-header .chat-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}



